body{
    background-color: black;
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}
.contain{
   display: grid;
   margin: 10px auto;
}
.logo-buscador {
    width: 180px;
    background-color: white ;
    display: flex;
    margin: auto;
}
.logo-buscador img{
    width: 100px;
    height: 100px;
    margin: auto;
}
input{
    background-color: white;
    color: black;
    border-radius: 10px;
    width: 250px;
    padding: 10px;
    margin: auto;
    font-size: 1.5rem;
}
.contenido{
    margin-top: 50px;
    align-items:center ;
    display: grid;
    grid-template-columns: repeat(auto-fill, 420px);
    gap: 50px;
}
.movie{
    background-color: white;
    color: black;
    text-align: center;
    height: 810px;
}
.movie img{
    width: 98%;
    height: 600px;
}
.clase{
    text-decoration: none;
    padding: 15px;
    background-color: rgb(0, 126, 252);
    border-radius: 6px;
    font-size: 1rem;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    cursor: pointer;
}